<!-- Section Footer -->
footer.footer
	div.footer__sponsors
		p.footer__sponsors__title Sponsors
		div.footer__sponsors__content
			img.footer__sponsors__content__logo(src="images/vzland.png" alt="VZLand")
			img.footer__sponsors__content__logo(src="images/vivelab.png" alt="Vivelab")
			img.footer__sponsors__content__logo(src="images/creativo.png" alt="Creativo Demente")

	p.footer__copyright
		| Made with
		i.material-icons.footer__copyright__love favorite
		| by MonteríaJS

	div.footer__social
		ul.footer__social__list
			li.footer__social__list__item
				a.footer__social__list__item__link(href="#") FB
			li.footer__social__list__item
				a.footer__social__list__item__link(href="#") TW
			li.footer__social__list__item
				a.footer__social__list__item__link(href="#") INS
			li.footer__social__list__item
				a.footer__social__list__item__link(href="#") GIT