<!-- Section Menu -->
nav.menu
	figure.menu__image
		img.menu__image__logo(src="images/logoblanco.png" alt="MonteríaJS")

	ul.menu__list
		li.menu__list__item
			a.menu__list__item__link(href="#") INICIO
		li.menu__list__item
			a.menu__list__item__link(href="#") NOSOTROS
		li.menu__list__item
			a.menu__list__item__link(href="#") EVENTOS
		li.menu__list__item
			a.menu__list__item__link(href="#") APÓYANOS