<!-- Section Menu -->
div.menu
	figure.menu__image
		img.menu__image__logo(src="images/logonegro.png" alt="MonteríaJS")

	ul.menu__list
		li.menu__list__item
			a.menu__list__item__link(href="#monteriajs")
				i.fa.fa-home
				| INICIO
		li.menu__list__item
			a.menu__list__item__link(href="#about-us")
				i.fa.fa-users
				| NOSOTROS
		li.menu__list__item
			a.menu__list__item__link(href="#events")
				i.fa.fa-calendar
				| EVENTOS
		li.menu__list__item
			a.menu__list__item__link(href="#suport")
				i.fa.fa-thumbs-o-up
				| APÓYANOS